<%= form_for @client do |form| %>

<% if @client.errors.any? %>
  <% @client.errors.full_messages.each do |msg| %>
    <div class="alert alert-danger" role="alert">
      <%= msg %>
    </div>
  <% end %>
<% end %>

<div class="form-group">
  <%= form.label :name %>
  <%= form.text_field :name, class:'form-control' %>
  <small id="name" class="form-text text-muted">*campo obrigatório</small>
</div>

<div class="form-group">
  <%= form.label :cpf %>
  <%= form.text_field :cpf, class:'form-control' %>
  <small id="cpf" class="form-text text-muted">*campo obrigatório, formato 000.000.000-00</small>
</div>

<div class="form-group">
  <%= form.label :email %>
  <%= form.text_field :email, class:'form-control' %>
  <small id="email" class="form-text text-muted">*campo obrigatório, formato exemplo@exemplo.com</small>
</div>

<%= form.submit 'Enviar', class: 'btn btn-primary' %>
<% end %>