<% content_for :navigation do %>
active
<% end %>

<div class="row">
<h1 class="col-md-auto">Lista de filiais</h1>
<%= link_to 'Cadastrar Filial', new_subsidiary_path, class: 'badge badge-pill badge-light h-100', style: "color: #4300D2; font-size: 95%" %>
</div>

<div class="alert alert-light pt-1 pb-1" role="alert">
    <%= 'Nenhuma filial cadastrada' if @subsidiaries.empty? %>
    <%= "Filiail(s) cadastrado(s): #{@subsidiaries.count}" if @subsidiaries.present? %>
</div>

<% if @subsidiaries.any? %>
<table class="table table-sm table-light table-hover">
  <thead>
    <tr>
      <th scope="col">Nome do fabricante</th>
    </tr>
  </thead>
  <tbody>
<% @subsidiaries.each do |subsidiary| %>
    <tr>
      <td><%= link_to subsidiary.name, subsidiary %></td>
      <td><%= link_to subsidiary.cnpj, subsidiary %></td>
      <td><%= link_to subsidiary.address, subsidiary %></td>
    </tr>
<% end %>
  </tbody>
</table>
<% end %>