<h1>Locação - <%= @car_rental.rental.code %></h1>

<section>
<p>Iniciado com sucesso</p>
<p>Carro:
<%= "#{@car_rental.car.full_description}" %>
</p>
<p>Client: <%= @car_rental.rental.client.name %></p>
<p>Usuário: <%= @car_rental.rental.user.email %></p>
<p>Diária: <%= number_to_currency(@car_rental.rental.car_category.daily_rate) %></p>
<p>Seguro do automóvel: <%= number_to_currency(@car_rental.rental.car_category.car_insurance) %></p>
<p>Seguro contra terceiros: <%= number_to_currency(@car_rental.rental.car_category.third_party_insurance) %></p>
<p>Total <%= number_to_currency(@car_rental.daily_rate_total) %></p>
<p>Filial <%= @car_rental.rental.subsidiary.name %></p>
</section>