<h1>Nova locação</h1>
<%= form_for @rental do |form| %>
<% if @rental.errors.any? %>
  <% @rental.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>
<% end %>

  <%= form.label :start_date %>
  <%= form.text_field :start_date %>

  <%= form.label :end_date %>
  <%= form.text_field :end_date %>

  <%= form.label :client_id %>
  <%= form.collection_select :client_id, @clients, :id, :identification%>

  <%= form.label :car_category_id %>
  <%= form.collection_select :car_category_id, @car_category, :id, :name%>

  <%= form.submit 'Enviar' %>
<% end %>