<%= form_for @manufacturer do |form| %>

<% if @manufacturer.errors.any? %>
  <% @manufacturer.errors.full_messages.each do |msg| %>
    <div class="alert alert-danger" role="alert">
      <%= msg %>
    </div>
  <% end %>
<% end %>

<div class="form-group">
  <%= form.label :name %>
  <%= form.text_field :name, class:'form-control' %>
  <small id="name" class="form-text text-muted">*campo obrigatório</small>
</div>
<%= form.submit 'Enviar', class: 'btn btn-primary' %>
<% end %>