<% content_for :navigation do %>
active
<% end %>

<div class="row">
<h1 class="col-md-auto">Lista dos fabricantes</h1>
<%= link_to 'Registrar fabricante', new_manufacturer_path, class: 'badge badge-pill badge-light h-100', style: "color: #4300D2; font-size: 95%" %>
</div>

<div class="alert alert-light pt-1 pb-1" role="alert">
    <%= 'Nenhum fabricante cadastrado' if @manufacturers.empty? %>
    <%= "Fabricante(s) cadastrado(s): #{@manufacturers.count}" if @manufacturers.present? %>
</div>
<section>
  <%= form_tag search_manufacturers_path, method: 'get' do %>
    <%= label_tag :q, 'Pesquisar' %>
    <%= text_field_tag :q %>
    <%= submit_tag 'Buscar'%>
  <% end %>
</section>

<% if @manufacturers.any? %>
<table class="table table-sm table-light table-hover">
  <thead>
    <tr>
      <th scope="col">Nome do fabricante</th>
    </tr>
  </thead>
  <tbody>
<% @manufacturers.each do |manufacturer| %>
    <tr>
      <td><%= link_to manufacturer.name, manufacturer %></td>
    </tr>
<% end %>
  </tbody>
</table>
<% end %>
