<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RentalCars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light">
    <nav class="navbar navbar-light sticky-top bg-white flex-md-nowrap p-0">
    <div class="container-fluid pl-0">
      <!-- Logo e texto -->
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" style= "color: #a560a5;">
        <%= image_tag "img/logo_smallest.png", alt: 'logo_img' %>
        <b>Rental Cars</b> 
      </a>

      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
        <% if user_signed_in? %>
          <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Entrar', new_user_session_path  %>
        <% end %>
        </li>
      </ul>
    </div>
    </nav>
    <% if user_signed_in? %>
      <nav class="navbar navbar-expand-lg navbar-light bg-white pl-0">
          <div class="container-fluid ">
          <ul class="nav">
            <li class="nav-item text-center <%= yield :navigation if current_page?(root_path) %>">
            <%= image_tag "img/homepage_ico.png", alt: 'homepage-ico' %>
            <%= link_to 'Home', root_path, class: "nav-link px-0" %></li>
            <li class="nav-item text-center <%= yield :navigation if current_page?(manufacturers_path) %>">
            <%= image_tag "img/car_ico.png", alt: 'manufacturer-ico' %>
            <%= link_to 'Fabricantes', manufacturers_path, class: "nav-link" %></li>
            <li class="nav-item text-center <%= yield :navigation if current_page?(subsidiaries_path) %>">
            <%= image_tag "img/subsidiary_ico.png", alt: 'subsidiary_ico' %>
            <%= link_to 'Filiais', subsidiaries_path, class: "nav-link" %></li>
            <li class="nav-item text-center <%= yield :navigation if current_page?(car_categories_path) %>">
            <%= image_tag "img/car_category_ico.png", alt: 'car_category_ico' %>
            <%= link_to 'Categorias de carro', car_categories_path, class: "nav-link" %></li>
            <li class="nav-item text-center <%= yield :navigation if current_page?(car_models_path)%>">
            <%= image_tag "img/car_model_ico.png", alt: 'car_model_ico' %>
            <%= link_to 'Modelos de carro', car_models_path, class: "nav-link"  %></li>
            <li class="nav-item text-center <%= yield :navigation if current_page?(clients_path)%>">
            <%= image_tag "img/clients_ico.png", alt: 'clients_ico' %>
            <%= link_to 'Clientes', clients_path, class: "nav-link" %></li>
            <li class="nav-item text-center <%= yield :navigation if current_page?(rentals_path)%>">
            <%= image_tag "img/rental_ico.png", alt: 'rental_ico' %>
            <%= link_to 'Locações', rentals_path, class: "nav-link" %></li>
            <li class="nav-item text-center <%= yield :navigation if current_page?(cars_path)%>">
            <%= image_tag "img/cars_ico.png", alt: 'cars_ico' %>
            <%= link_to 'Carros', cars_path, class: "nav-link"  %></li>
          </ul>

        </div>
      </nav>
    <% end %>
    
    <div class="container-fluid h-100">
    <div class="row h-100">
    <main role="main" class="col-md-12 ml-sm-auto col-lg-12 p-0 h-100">
      <div class="jumbotron pt-4 pb-4 h-100" style="background-color: #ddd5f5;border-top: 1px solid #cccccc">
      <% unless current_page?(root_path) %>
      <div class="container rounded pt-4 pb-3 text-white" style="background-color:  #270570">
      <%= yield %>
      <% else %>
      <div class="container pt-4 pb-3 text-white h-100" style="max-width: 1055px;background: url('assets/img/start_image_background-3x') no-repeat;">
      <%= yield %>
      <% end %>

      <% if alert %>
        <div class="alert alert-primary" role="alert">
          <%= alert %>
        </div>
      <% end %>
      <% if notice %>
        <div class="alert alert-light" role="alert">
          <%= notice %>
        </div>
      <% end %>
      </div>
      </div>

    </div>
    </main>
    </div>
    
  </body>
</html>